/* 主体部分 右侧内容-status */
body {font-family: Times;}
hr { border: 0 #ccc solid; border-top-width: 1px; clear: both; height: 0; }
#GC_Channel{ min-width: 70px; word-wrap:break-word; overflow:hidden;}
#channels{ min-width: 70px;}
#dtcontent table{ width: 100%; height: auto; border: 0;}
#dtcontent .GC td{ width: 25%;}
#dtcontent .GC_Channel .double td{ width: 20%;}
#dtcontent .font_color{ color: blue;}
#dtcontent .channel1{color:#888888;}
#dtcontent .channel2{color:#888888;}
#dtcontent .channel3{color:#888888;}
#dtcontent .channel4{color:#888888;}
#dtcontent .action{color: blue;}
#dtcontent .set{color: #000000;}
